<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/styles.css" rel="stylesheet">
        <link rel="shortcut icon" href="/img/1favicon.ico">
	</head>
<body>
    <header> 
    </header>
        
<div class="navbar">    
    
    <div class="dropdown">
        <button class="dropbtn">Menu_</button>
        <div class="dropdown-content">
            <% for (let i = 0; i < nav.length; i++) { %> 
                <li>
                    <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
                </li>
            <%}%> 
            </div>
       
        </div>
        <a>Login</a>

    </div>
    <div class = "introtext">
    <h1>Welcome To Student Login</h1>
    <p>Enter your email and password to login</p>
    <p>or enroll as a student or member of staff with the sign-in pages</p>
    <p>go to portal to see any academic information</p>
    </div>

</div>
<div class="course_area">
    <form accept-charset='UTF-8' role='form' 
    method='post' action='/login_students'>

    <input class='form-control' placeholder='Email'
    name='email' type='text' required='required' />

    <input class='form-control' placeholder='Confirm'
     name='password' type='password' value='' 
     required='required' />

    <input class='btn btn-lg btn-success btn-block'
     type='submit' value='login'/>
</div>
<div class= "loginbox">
    
    
</div>



        
</body>

<script>
    function myFunction() {
    username = document.getElementById("usrname").value;
    password = document.getElementById("password").value;
    }
</script>

</html>