<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/styles.css" rel="stylesheet">
        <link rel="shortcut icon" href="/img/1favicon.ico">
	</head>
<body>
    <header> 
    </header>
        
<div class="navbar">    
    
    <div class="dropdown">
        <button class="dropbtn">Menu_</button>
        <div class="dropdown-content">
            <% for (let i = 0; i < nav.length; i++) { %> 
                <li>
                    <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
                </li>
            <%}%> 
            </div>
       
        </div>
        <a>Sign up staff</a>

    </div>
    <div class = "introtext">
        <h1>Welcome To Staff Sign up</h1>
        <p>Complete the form to sign up</p>
        <p>or login as a student or member of staff with the log-in pages</p>
        <p>go to portal to see any academic information</p>
    </div>
    <div class="course_area">
    <form accept-charset='UTF-8' role='form' 
    method='post' action='sign_up_staff'>

    <input class='form-control' placeholder='Firstname'
    name='firstname' type='text' required='required' />

    <input class='form-control' placeholder='Surname'
    name='lastname' type='text' required='required' />

    <input class='form-control' placeholder='Email'
    name='email' type='text' required='required' />

    <input class='form-control' placeholder='Password'
    name='password1' type='password' value='' 
    required='required' />

    <input class='form-control' placeholder='Confirm'
     name='password2' type='password' value='' 
     required='required' />

    <input class='btn btn-lg btn-success btn-block'
     type='submit' value='sign_up_staff' />
    </div>
</body>

</html>